.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header */
.header {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    min-height: 80px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #213B7E;

}

@media (max-width:834px) {
    .header {
        justify-content: center;
        padding: 1em 16px;
        gap: 1em;
    }
}

.site-logo {
    width: auto;
}

@media (max-width:834px) {
    .site-logo {
        width: 80%;
        min-height: 80px;
    }
}

.site-menu {
    display: flex;
    flex-wrap: wrap;
    align-self: stretch;
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (max-width:834px) {
    .site-menu {
        justify-content: center;
    }
}

.site-menu>li {
    display: flex;
    min-height: 80px;
}

.menu-link {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding: 0 18px;
    min-width: 130px;
    justify-content: center;
    box-sizing: border-box;
}

.menu-link:hover {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    background-color: #EA5D21;
    color: #FFFFFF;
}

/* Login popup */
.login-popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 160px;
    transform: translate(-50%, 0%);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    min-height: 418px;
    padding: 26px 28px 56px;
    background-color: #FFFFFF;
    border: 1px solid #213B7E;
    box-shadow: 5px 5px 4px 0 rgba(0, 0, 0, 0.25);
}
@media (max-width:790px) {
    .login-popup {
        top: 32%;
    }
}
@media (max-width:525px) {
    .login-popup {
        top: 40%;
    }
}

.login-heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    margin: 0px 0px 36px;
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login-form>input {
    width: 100%;
    max-width: 444px;
    min-height: 55px;
    margin-bottom: 56px;
    padding: 0;
    border: 1px solid #808080;
}

.login-input::placeholder,.password-input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.16;
    color: #808080;
    padding: 17px 14px 10px;
    position: absolute;
}

.popup-button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 153px;
    min-height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #EA6113;
    border: none;
}

/* Main */
.main {
    width: 100%;
    max-width: 943px;
    margin: 0 auto 16px;
    flex-grow: 1;
    padding: 0 16px;
    box-sizing: border-box;
}

.class-photo {
    object-fit: cover;
    width: 100%;
    max-width: 523px;
    height: 316px;
}

.main-hading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.17;
    margin: 33px 0 25px;
}

h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.16;
    margin: 15px 0 10px;
}

.intro-text {
    width: 100%;
    max-width: 634px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    margin: 0;
}

.intro-text>strong {
    font-weight: 700;
}

.intro-text>em {
    font-style: italic;
    color: #CF5510;
}
.together {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 56px;
}
@media (max-width:862px) {
    .together {
        gap: 0;
        flex-direction: column;
    }
}
.aside {
    color: rgba(100, 100, 100, 1);
    ;
    font-family: Lobster;
    font-style: normal;
    font-size: 36px;
    font-weight: 400;
    line-height: 1.25;
    position: relative;
    left: -30px;
}
@media (max-width:862px) {
    .aside {
        left: 26px;
        max-width: 200px;
    }
}
.aside > blockquote {
    margin: 0;   
}
.aside > blockquote::before {
    content: '\201C';
    position: absolute;
    top: -9px;
    left: -31px;
    font-size: 64px;
    line-height: 1.25;
}
.aside > blockquote::after {
    content: '\201D';
    position: absolute;
    top: 37px;
    left: 123px;
    font-size: 64px;
    line-height: 1.25;
}

/* Students */
.main-students {
    max-width: 1234px;
}
.student-hading {
    margin: 37px 0 24px;
}
.student-hading::after {
    content: 	
    '\0020\1F467\1F466';
}

.students {
    display: flex;
    flex-wrap: wrap;
    max-width: 1202px;
    gap: 50px;
}

.student {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 0;
    box-sizing: border-box;
    max-width: 200px;
}

.student>img {
    object-fit: contain;
    object-position: bottom;
    background-color: #bfa07173;
}

.student-name {
    margin: 8px 0 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}
.my:nth-of-type(2) {
    position: relative;
}
.my {
    text-decoration: none;
    color: #000000;
}

.text-new {
    display: flex;
    padding: 2px 5px;
    border-radius: 20px;
    background-color: #3AA828;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    position: absolute;
    top: 0;
    right: -13px;
    transform: translateY(-50%);
}

/* About */
.main-about {
    max-width: 852px;
}
.about-hading::after {
content: '\0020\1F4F1';
}

.about-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 1.16;
    margin: 0 0 15px;
}

.video {
    width: 100%;
    min-height: 550px;
}

/* Contacts */
.main-contacts {
    max-width: 1300px;
}

.contacts-hading {
    max-width: 820px;
    margin: 33px auto 25px;
}
.contacts-hading::after {
    content: '\0020\1F5FA';
}
.map {
    width: 100%;
}

.contact {
    max-width: 820px;
    margin: 0 auto;
}

.address {
    font-family: 'Roboto';
    Font-style: normal;
    font-size: 18px;
    line-height: 1.16;
}
.address-text {
    margin: 0 0 1em;
}
.adress-link {
    color: #000000;
}

/* MY Page */
.avatar {
    position: relative;
    max-width: 500px;
}

.avatar-foto {
    max-width: 300px;
}

.check {
    position: absolute;
    top: 0%;
    left: 55%;
}

.check-text {
    position: absolute;
    top: 3%;
    left: 69%;
    color: #4dca2e;
}

.warning {
    font-size: 10px;
}

/* footer */
.footer {
    box-sizing: border-box;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #213B7E;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
}

.copywrite {
    margin: 18px 0 19px;
    color: rgba(255, 255, 255, 0.5);
}

.innop-link {
    color: rgba(255, 255, 255, 0.5);
}

/* JS */
.active-link {
    color: #213B7E;
    background-color: #fff;
    text-decoration: none;
}

.show-popup {
    display: block;
}